<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{% if page.theme == 'parchment' %}#efe6d3{% else %}#0b1511{% endif %}">
  <link rel="icon" href="{{ site.github.url }}/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Manrope:wght@400;500;600;700&family=Spectral:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  {% feed_meta %}
  {% include google-analytics.html %}
  {% seo %}
</head>
